<div class="container my-5">


  <!-- Section: Block Content -->
  <section>

    <div class="row">
      <div class="col-12">
        <div class="card card-list">
          <div class="card-header white d-flex justify-content-between align-items-center py-3">
            <p class="h3-responsive font-weight-bold mb-0">Les points  des cadeaux</p>
            <ul class="list-unstyled d-flex align-items-center mb-0">
            </ul>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Role</th>
                <th scope="col">Nombre des poits</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row"><a class="text-primary">Eljadi</a></th>
                <td>Aya</td>
                <td><span class="badge badge-success">Administrateur</span></td>
                <td class="pt-2 pb-0"><span class="badge badge-success">100 Points</span></td>
              </tr>
              <tr>
                <th scope="row"><a class="text-primary">Eljadi</a></th>
                <td>Aya</td>
                <td><span class="badge badge-success">Administrateur</span></td>
                <td class="pt-2 pb-0"><span class="badge badge-success">100 Points</span></td>
              </tr>
              <tr>
                <th scope="row"><a class="text-primary">Eljadi</a></th>
                <td>Aya</td>
                <td><span class="badge badge-success">Administrateur</span></td>
                <td class="pt-2 pb-0"><span class="badge badge-success">100 Points</span></td>
              </tr>
              <tr>
                <th scope="row"><a class="text-primary">Eljadi</a></th>
                <td>Aya</td>
                <td><span class="badge badge-success">Administrateur</span></td>
                <td class="pt-2 pb-0"><span class="badge badge-success">100 Points</span></td>
              </tr>
              <tr>
                <th scope="row"><a class="text-primary">Eljadi</a></th>
                <td>Aya</td>
                <td><span class="badge badge-success">Administrateur</span></td>
                <td class="pt-2 pb-0"><span class="badge badge-success">100 Points</span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- Section: Block Content -->


</div>
