<div>

  <div class="row">
    <div class="col-12 text-center">
      <span style="font-size: 25px; color: gray; font-weight: bold">Liste des cartes des Jeunesses</span>
    </div>
  </div>
  <hr>
  <div class="container my-5">
    <section>
      <div class="row">
        <div class="col-4">
          <div style="border: rgba(0,0,0,0.33) 1px solid" class="card card-ecommerce">
            <div class="row">
              <div class="col-12 pl-lg-0">
                <div class="card z-depth-0">
                  <div class="card-body">
                    <div class="row pt-2" style="border-radius: 10px">
                      <div class="list-group-item active d-flex justify-content-start align-items-center py-3">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
                             class="rounded-circle z-depth-0"
                             width="50" alt="avatar image">
                        <div class="d-flex flex-column" style="margin-left: 10px">
                          <p class="font-weight-normal mb-0">Elisa McRayan</p>
                          <p class="small mb-0">Web Designer</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

