<nav class="navbar navbar-expand-lg navbar bg fixed-top" style="background-color: white">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="">
      <img src="assets/images/logo/logo.PNG" height="60" alt="Logo" loading="lazy" style="margin-top: -1px;"/>
      <h3>Maison des jeunes</h3>
    </a>
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li>
          <a [routerLink]="['/register']" type="button" class="btn   btn-outline-secondary btn-lg mt-4 me-2"
             aria-controls="#picker-editor" draggable="false">Inscription</a>
        </li>
        <li>
          <a [routerLink]="['/login']" type="button" class="btn   btn-outline-secondary btn-lg mt-4"
             aria-controls="#picker-editor" draggable="false">Login</a>
        </li>

      </ul>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<div class="container-fluid" style="margin-top: 50px !important;">
  <div data-draggable="true" style="position: relative;" draggable="false">
    <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
      <section class="mb-8">
        <div class="page-header" style="min-height: 75vh;">
          <div class="oblique position-absolute top-0 h-100 d-md-block d-none gradient-custom-10">
            <div class="img-oblique position-absolute fixed-top ms-auto h-100 img-settings"
                 style="z-index: 0; background-size: contain;background-repeat: no-repeat; background-position: 30% 20%; margin-left: -4.1rem !important; background-color: transparent; background-image: url(&quot;https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5NjI0M3wwfDF8c2VhcmNofDJ8fHBob25lfGVufDB8fHx8MTY1MDIyOTkxMQ&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&quot;);"
                 aria-controls="#picker-editor">
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
                <h2 class="lh-1 ls-tight fw-900 mb-1" style="font-size: 3.75rem;">Find your perfect</h2>
                <h2 class="lh-1 ls-tight fw-900 text-secondary mb-4" style="font-size: 3.75rem;">Place for Work</h2>
                <p class="mt-1 pe-lg-5 me-lg-5 lead fw-normal text-muted">The time is now for it to be okay to be
                  great. People in this world shun people for being nice.</p>
                <div class="buttons">
                  <a href="#!" type="button" class="btn   btn-secondary btn-lg mt-4 me-2"
                     aria-controls="#picker-editor" draggable="false">Get Started</a>
                  <a href="#!" type="button" class="btn   btn-outline-secondary btn-lg mt-4"
                     aria-controls="#picker-editor" draggable="false">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
  <div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
      <section class="">
        <div class="d-flex justify-content-center">
          <div class="text-center" style="max-width: 700px">
            <p class="text-uppercase text-secondary fw-bold mb-4">FEATURES</p>
            <h2 class="fw-bold mb-4">Why choose us?</h2>
            <p class="text-muted mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.Repellendus quae
              aliquid iure quam itaque. Molestias harum autpossimus adipisci, illum alias impedit odit incidunt
              minimadolorum.</p>
          </div>
        </div>
        <div class="row gx-lg-5">
          <div class="col-md-6 mb-5">
            <div class="d-flex align-items-start">
              <div class="flex-shrink-0">
                <div class="p-3 bg-secondary rounded-4 shadow-2-strong">
                  <i class="fas fa-wifi fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-4">
                <p class="fw-bold mb-1">Workplace</p>
                <p class="text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.Repellendus quae
                  aliquid iure quam itaque. Molestias harum autpossimus adipisci, illum alias impedit odit incidunt
                  minimadolorum.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-5">
            <div class="d-flex align-items-start">
              <div class="flex-shrink-0">
                <div class="p-3 bg-secondary rounded-4 shadow-2-strong">
                  <i class="fas fa-shield-alt fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-4">
                <p class="fw-bold mb-1">Safe and solid</p>
                <p class="text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.Repellendus quae
                  aliquid iure quam itaque. Molestias harum autpossimus adipisci, illum alias impedit odit incidunt
                  minimadolorum.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-5">
            <div class="d-flex align-items-start">
              <div class="flex-shrink-0">
                <div class="p-3 bg-secondary rounded-4 shadow-2-strong">
                  <i class="fas fa-mug-hot fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-4">
                <p class="fw-bold mb-1">A meeting place</p>
                <p class="text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.Repellendus quae
                  aliquid iure quam itaque. Molestias harum autpossimus adipisci, illum alias impedit odit incidunt
                  minimadolorum.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-5">
            <div class="d-flex align-items-start">
              <div class="flex-shrink-0">
                <div class="p-3 bg-secondary rounded-4 shadow-2-strong">
                  <i class="fas fa-grin-beam fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-4">
                <p class="fw-bold mb-1">We are children-friendly</p>
                <p class="text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.Repellendus quae
                  aliquid iure quam itaque. Molestias harum autpossimus adipisci, illum alias impedit odit incidunt
                  minimadolorum.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <!---->
  </div>
  <div data-draggable="true" style="position: relative;">
    <section draggable="false" class="overflow-hidden pt-5" data-v-271253ee="">
      '
      <section class="mb-8">
        <div class="gradient-custom rounded-6">
          <div class="container pt-9 pb-10 pb-xl-11 px-4">
            <div class="row">
              <div class="col-md-8 col-lg-6 mx-auto text-center text-white">
                <h2 class="fs-2 fw-900 pb-1">See our pricing</h2>
                <p class="lead fw-normal mb-4 opacity-90">Choose the best option for you and your business. We have a
                  flexible schedule and rooms tailored to your needs.</p>
                <div class="d-flex justify-content-center mb-4 mb-xl-0">
                  <ul class="nav nav-pills pills-light mb-3" id="ex11" role="tablist">
                    <li class="nav-item px-2" role="presentation">
                      <a class="btn  btn-white active" id="ex1-tab-11" data-mdb-toggle="pill" href="#ex1-pills-11"
                         role="tab" aria-controls="#picker-editor" aria-selected="true">monthly</a>
                    </li>
                    <li class="nav-item px-2" role="presentation">
                      <a class="btn  btn-white " id="ex1-tab-22" data-mdb-toggle="pill" href="#ex1-pills-22"
                         role="tab" aria-controls="#picker-editor" aria-selected="false">annual</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-n10">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-xl-3 mb-4 ms-auto me-auto me-xl-0 d-flex align-self-stretch">
                <div class="card w-100">
                  <div class="card-header text-center border-0 pt-4">
                    <span class="badge rounded-pill badge-light mb-3 text-uppercase">Starter</span>
                    <h2 class="fs-1 fw-900">
                      <small>$</small>
                      <span>59</span></h2>
                  </div>
                  <div class="card-body mx-auto pt-0 text-muted">
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <div>
                        <i class="fas fa-check-circle fa-lg text-secondary" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3">
                        <span>2 team members</span>
                      </div>
                    </div>
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <div>
                        <i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3"><span>20GB Cloud storage</span>
                      </div>
                    </div>
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <div><i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3">
                        <span>Lorem ipsum dolor sit</span>
                      </div>
                    </div>
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <div>
                        <i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3">
                        <span>Consectetur adipiscing</span>
                      </div>
                    </div>
                    <div class="justify-content-start d-flex px-2 pt-1">
                      <div>
                        <i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3">
                        <span>Sed do eiusmod tempor</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer pt-0 pb-4 border-0 text-center">
                    <a type="button" class="btn  btn-link btn-lg" data-mdb-ripple-color="dark"
                       aria-controls="#picker-editor">Buy now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-10 col-xl-3 mb-4 mx-auto mx-xl-0 d-flex align-self-stretch">
                <div class="card w-100">
                  <div class="card-header text-center border-0 pt-4">
                    <span class="badge rounded-pill badge-light mb-3 text-uppercase">Premium</span>
                    <h2 class="fs-1 fw-900">
                      <small>$</small>
                      <span>89</span></h2>
                  </div>
                  <div class="card-body mx-auto pt-0 text-muted">
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <div><i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3">
                        <span>10 team members</span>
                      </div>
                    </div>
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <div>
                        <i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3">
                        <span>40GB Cloud storage</span>
                      </div>
                    </div>
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <div>
                        <i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3">
                        <span>Consectetur adipiscing</span>
                      </div>
                    </div>
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <div>
                        <i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3">
                        <span>Sed do eiusmod tempor</span>
                      </div>
                    </div>
                    <div class="justify-content-start d-flex px-2 pt-1">
                      <div><i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3"><span>Lorem ipsum dolor sit</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer pt-0 pb-4 border-0 text-center">
                    <a type="button" class="btn  btn-link btn-lg" data-mdb-ripple-color="dark"
                       aria-controls="#picker-editor">Buy now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-10 col-xl-3 mb-4 ms-auto me-auto ms-xl-0 d-flex align-self-stretch">
                <div class="card w-100">
                  <div class="card-header text-center border-0 pt-4">
                    <span class="badge rounded-pill badge-light mb-3 text-uppercase">Enterprise</span>
                    <h2 class="fs-1 fw-900">
                      <small>$</small>
                      <span>99</span></h2>
                  </div>
                  <div class="card-body mx-auto pt-0 text-muted">
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <div>
                        <i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3"><span>Unlimited team members</span>
                      </div>
                    </div>
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <div>
                        <i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3">
                        <span>100GB Cloud storage</span>
                      </div>
                    </div>
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <div>
                        <i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3">
                        <span>Sed do eiusmod tempor</span>
                      </div>
                    </div>
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <div>
                        <i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3">
                        <span>Lorem ipsum dolor sit</span>
                      </div>
                    </div>
                    <div class="justify-content-start d-flex px-2 pt-1">
                      <div><i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3"><span>Consectetur adipiscing</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer pt-0 pb-4 border-0 text-center">
                    <a type="button" class="btn  btn-link btn-lg" data-mdb-ripple-color="dark"
                       aria-controls="#picker-editor">Buy now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      '
    </section>
  </div>
  <div data-draggable="true" style="position: relative;">
    <section draggable="false" class="container pt-5" data-v-271253ee="">
      <section class="">
        <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
          <div class="d-flex justify-content-center mb-4">
            <button class="carousel-control-prev position-relative" type="button"
                    data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next position-relative" type="button"
                    data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"> </span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="carousel-inner py-4">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <img class="rounded-circle shadow-1-strong mb-4"
                         src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" alt="avatar"
                         style="width: 150px; height: 150px;" aria-controls="#picker-editor">
                    <h5 class="mb-3">Anna Deynah</h5>
                    <p>UX Designer</p>
                    <p class="text-muted">
                      <i class="fas fa-quote-left pe-2" aria-controls="#picker-editor"></i>
                      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</span>
                    </p>
                    <ul class=" list-unstyled d-flex justify-content-center text-warning mb-0 ">
                      <li>
                        <i class="fas fa-star fa-sm" aria-controls="#picker-editor">
                        </i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-sm" aria-controls="#picker-editor">
                        </i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-sm" aria-controls="#picker-editor">
                        </i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-sm" aria-controls="#picker-editor">
                        </i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block">
                    <img class="rounded-circle shadow-1-strong mb-4"
                         src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" alt="avatar"
                         style="width: 150px; height: 150px;" aria-controls="#picker-editor"> <h5 class="mb-3">John
                    Doe</h5>
                    <p>Web Developer</p>
                    <p class="text-muted">
                      <i class="fas fa-quote-left pe-2" aria-controls="#picker-editor"></i>
                      <span>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodi.</span>
                    </p>
                    <ul class=" list-unstyled d-flex justify-content-center text-warning mb-0 ">
                      <li>
                        <i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i>
                      </li>
                      <li>
                        <i class="fas fa-star-half-alt fa-sm" aria-controls="#picker-editor"></i>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block">
                    <img class="rounded-circle shadow-1-strong mb-4"
                         src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" alt="avatar"
                         style="width: 150px; height: 150px;" aria-controls="#picker-editor">
                    <h5 class="mb-3">Maria Kate</h5>
                    <p>Photographer</p>
                    <p class="text-muted">
                      <i class="fas fa-quote-left pe-2" aria-controls="#picker-editor"></i>
                      <span>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</span>
                    </p>
                    <ul class=" list-unstyled d-flex justify-content-center text-warning mb-0 ">
                      <li>
                        <i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i>
                      </li>
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i>
                      </li>
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                      <li><i class="far fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <img class="rounded-circle shadow-1-strong mb-4"
                         src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" alt="avatar"
                         style="width: 150px; height: 150px;" aria-controls="#picker-editor"> <h5 class="mb-3">John
                    Doe</h5>
                    <p>UX Designer</p>
                    <p class="text-muted"><i class="fas fa-quote-left pe-2" aria-controls="#picker-editor"></i> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</span>
                    </p>
                    <ul class=" list-unstyled d-flex justify-content-center text-warning mb-0 ">
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                    </ul>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block"><img class="rounded-circle shadow-1-strong mb-4"
                                                               src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg"
                                                               alt="avatar" style="width: 150px; height: 150px;"
                                                               aria-controls="#picker-editor"> <h5 class="mb-3">Alex
                    Rey</h5>
                    <p>Web Developer</p>
                    <p class="text-muted"><i class="fas fa-quote-left pe-2" aria-controls="#picker-editor"></i> <span>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodi.</span>
                    </p>
                    <ul class=" list-unstyled d-flex justify-content-center text-warning mb-0 ">
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                      <li><i class="fas fa-star-half-alt fa-sm" aria-controls="#picker-editor"></i></li>
                    </ul>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block"><img class="rounded-circle shadow-1-strong mb-4"
                                                               src="https://mdbootstrap.com/img/Photos/Avatars/img%20(5).jpg"
                                                               alt="avatar" style="width: 150px; height: 150px;"
                                                               aria-controls="#picker-editor"> <h5 class="mb-3">Maria
                    Kate</h5>
                    <p>Photographer</p>
                    <p class="text-muted"><i class="fas fa-quote-left pe-2" aria-controls="#picker-editor"></i> <span>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</span>
                    </p>
                    <ul class=" list-unstyled d-flex justify-content-center text-warning mb-0 ">
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                      <li><i class="far fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-4"><img class="rounded-circle shadow-1-strong mb-4"
                                           src="https://mdbootstrap.com/img/Photos/Avatars/img%20(6).jpg" alt="avatar"
                                           style="width: 150px; height: 150px;" aria-controls="#picker-editor"> <h5
                  class="mb-3">Anna Deynah</h5>
                  <p>UX Designer</p>
                  <p class="text-muted"><i class="fas fa-quote-left pe-2" aria-controls="#picker-editor"></i> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</span>
                  </p>
                  <ul class=" list-unstyled d-flex justify-content-center text-warning mb-0 ">
                    <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                    <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                    <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                    <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                    <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                  </ul>
                </div>
                <div class="col-lg-4 d-none d-lg-block"><img class="rounded-circle shadow-1-strong mb-4"
                                                             src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg"
                                                             alt="avatar" style="width: 150px; height: 150px;"
                                                             aria-controls="#picker-editor"> <h5 class="mb-3">John
                  Doe</h5>
                  <p>Web Developer</p>
                  <p class="text-muted"><i class="fas fa-quote-left pe-2" aria-controls="#picker-editor"></i> <span>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodi.</span>
                  </p>
                  <ul class=" list-unstyled d-flex justify-content-center text-warning mb-0 ">
                    <li>
                      <i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm" aria-controls="#picker-editor">
                      </i>
                    </li>
                    <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i>
                    </li>
                    <li><i class="fas fa-star-half-alt fa-sm" aria-controls="#picker-editor"></i></li>
                  </ul>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                  <img class="rounded-circle shadow-1-strong mb-4"
                       src="https://mdbootstrap.com/img/Photos/Avatars/img%20(7).jpg" alt="avatar"
                       style="width: 150px; height: 150px;" aria-controls="#picker-editor">
                  <h5 class="mb-3">Maria Kate</h5>
                  <p>Photographer</p>
                  <p class="text-muted">
                    <i class="fas fa-quote-left pe-2" aria-controls="#picker-editor"></i>
                    <span>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</span>
                  </p>
                  <ul class=" list-unstyled d-flex justify-content-center text-warning mb-0 ">
                    <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                    <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                    <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                    <li><i class="fas fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                    <li><i class="far fa-star fa-sm" aria-controls="#picker-editor"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
  <div data-draggable="true" style="position: relative;">
    <section draggable="false" class="container pt-5" data-v-271253ee="">
      <section class="">
        <div class=" d-block d-md-flex justify-content-between align-items-center text-center text-md-start ">
          <div>
            <h2 class="fw-bold mb-3">
              <span>Ready to start?</span>
              <br>
              <span class="text-secondary">Register for free today.</span>
            </h2>
          </div>
          <div>
            <a type="button" class="btn  btn-outline-secondary btn-rounded" data-ripple-color="secondary"
               aria-controls="#picker-editor">Learn more</a>
            <a type="button" class="btn  btn-secondary btn-rounded" aria-controls="#picker-editor">Sign up</a>
          </div>
        </div>
      </section>
    </section>
  </div>
  <div data-draggable="true" style="position: relative;">
    <section draggable="false" class="container pt-5" data-v-271253ee="">
      <section class="">
        <div class="row">
          <div class="col-md-6 mb-4 mb-md-0">
            <h2 class="fw-bold mb-4">Contact us</h2>
            <p class="text-muted mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, modi
              accusantium ipsum corporis quia asperiores dolorem nisi corrupti eveniet dolores ad maiores repellendus
              enim autem omnis fugiat perspiciatis? Ad, veritatis.</p>
            <p class="text-muted mb-2">New York, 94126, United States</p>
            <p class="text-muted mb-2">+ 01 234 567 89</p>
            <p class="text-muted mb-2">info@gmail.com</p>
          </div>
          <div class="col-md-6 mb-4 mb-md-0">
            <form>
              <div class="form-outline mb-4">
                <input type="text" id="form4Example1" class="form-control">
                <label class="form-label" for="form4Example1" style="margin-left: 0px;">Name</label>
                <div class="form-notch">
                  <div class="form-notch-leading" style="width: 9px;">
                  </div>
                  <div class="form-notch-middle" style="width: 41.6px;">
                  </div>
                  <div class="form-notch-trailing">

                  </div>
                </div>
              </div>
              <div class="form-outline mb-4">
                <input type="email" id="form4Example2" class="form-control">
                <label class="form-label" for="form4Example2" style="margin-left: 0px;">Email address</label>
                <div class="form-notch">
                  <div class="form-notch-leading" style="width: 9px;">
                  </div>
                  <div class="form-notch-middle" style="width: 88px;">
                  </div>
                  <div class="form-notch-trailing">

                  </div>
                </div>
              </div>
              <div class="form-outline mb-4">
                <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                <label class="form-label" for="form4Example3" style="margin-left: 0px;">Message</label>
                <div class="form-notch">
                  <div class="form-notch-leading" style="width: 9px;">
                  </div>
                  <div class="form-notch-middle" style="width: 60px;">
                  </div>
                  <div class="form-notch-trailing">

                  </div>
                </div>
              </div>
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked="">
                <label class="form-check-label" for="form4Example4">Send me a copy of this message</label>
              </div>
              <button type="submit" class="btn  btn-secondary btn-block mb-4" aria-controls="#picker-editor">Send
              </button>
            </form>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>

